extends layout

block content
  h1= "Journal"
  p An app that allows easy access to a personal entry based journal.
  p Allows each entry to be tagged; tag mgmt system also included.
  p There for you when inspiration strikes!