extends layout

block content
	div(class='create entry newentry')
		ul(class="taglist" data-bind="foreach: Tags")
			li
				span.tagwrap
					span(class="tagtext" data-bind="text: $data")
					span.closex x
		div.entrytext
			textarea(rows=5 cols=130 data-bind="value: Text")
			input(type='button' class='save' value='save')
		select(class="selecttags" data-bind="options: TagOptions, optionsCaption: '..Available Tags..'")
	div(class='entry newtag hidden' id='newtag')
		label(for="newtagtext") New Tag:
		input(type='text' id='newtagtext')
		input(type='button' class='done' value='done')
	- var entryId = 0;
	each val in entries
		div(class='entry' id='entry' + entryId++)
			p.tags 
				each t in val.Tags	
					span.tag [#{t}] 
				//- span(class='tag control') add tag
			p.date #{val.CreateDate}
			p.txt #{val.Text}

block scripts
	
