extends layout

block content
	each val in entries
		div.entry
			p.tags 
				each t in val.Tags	
					span.tag [#{t}] 
				span(class='tag control') add tag
			p.date #{val.CreateDate}
			p.txt #{val.Text}