doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
    
	body
		block content
		script(src='https://code.jquery.com/jquery-3.1.0.min.js')
		script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js')
		script(src='/javascripts/site.js')
		block scripts
