body {
  padding: 50px 20% 0 20%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #91F8FF;
}

a {
  color: #00B7FF;
}

div.entry {
	background-color: #0010F5;
	color: #FFFFFF;
	padding: 6px 15px;
	margin: 3px;
	border-radius: 5px;
}

p.date {
	text-align: left;
}

p.date:hover {
	cursor: default;
}

span.control:hover {
	background-color: #91F8FF;
	color: #0010F5;
	cursor: default;
}





		span.closex {
			margin: 0 0 0 3px;
			color: red;
			font-size: .7em;

			position: relative;
			bottom: 6px;
		}

		span.closex:hover {
			color: white;
		}

		span.tagwrap {
			background-color: blue;
			color: yellow;
			padding: 2px;
			margin: 1px;
			border: dotted;
			border-color: red;
			border-width: 1px;

		}
		
		ul.taglist {
			float: right;
			margin: 4px 2px;
		}

		ul.taglist li{
			display: inline;
			list-style-type: none;
			padding-left: 2px;
			cursor: default;
		}

		div.newentry{
			
			border: solid;
			border-color: green;
			border-style: dashed;
			border-width: 1px;
			padding: 3px;
		}

		.entrytext {
			clear: both;
			padding: 1px 10px;
		}

		.entrytext input {
			display: block;
			width: 300px;
			height: 40px;
			font-size: 2em;
			border-radius: 12px;
			position: relative;
			left: 30%;


		}